.footer {
    margin-top: 25px;
    position: relative;
    .container {

        justify-content: space-between;
        display: flex;
        position: relative;
    }
    &__phone {
        width: 550px;
        padding: 118px 50px 0 0px;
        height: 200px;
        background: url(img/number_footer.png) no-repeat;
        background-position: 0 10px;
        font-size: 16px;
        background-size: cover;
        text-align: right;
        &_number {
            font-size: 30px;

            font-family: ExposureCTwo;
            color: #333;
            font-weight: 800;
        }
        &_text {
            font-size: 12px;
            padding-left: 10px;
            color: #333;
            letter-spacing: -.1px;
        }
    }
    &__socials {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: calc(3 * 66px + 17px);
        position: absolute;
        right: 20px;
        bottom: 23px;
        &_text {
            width: 100%;
            text-align: right;
            font-size: 12px;
            margin-top: 10px;
        }
        &_item {
            width: 66px;
            height: 66px;
            &.fb {
                background: url(img/facebook_footer.png) no-repeat;
            }
            &.inst {
                background: url(img/instagram_footer.png) no-repeat;
            }

            &.vk {
                background: url(img/vkontakte_footer.png) no-repeat;
            }
        }
    }
}