.header {
    background: #f0f8f9;
    .container {
    	position: relative;
    }
    &__kid-bg {
        background: url(../img/kid_bg.png) no-repeat;
        right: 0;
        position: absolute;
        top: 0;
        width: 1000px;
        height: 100%;
        background-position: center top;
    }
    &__menu {
        font-size: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 87px;
    }
    &__phone {
        position: absolute;
        right: 0;
        top: 0;
        width: 306px;
        padding: 20px;
        height: 165px;
        background: url(../img/spot.png) no-repeat;
        font-size: 16px;
        &_number {
            font-size: 30px;
            font-weight: 800;
        }
        &_text {
            font-size: 12px;
            padding-left: 10px;
        }
    }
    .logo {
        position: absolute;
    }
    nav {
        padding-left: 210px;
        ul {
            display: flex;
            li {
                position: relative;
                margin: 10px;
                &.active {
                    &:after {
                        background: #8765d1;
                        height: 4px;
                        width: 100%;
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        left: 0;
                    }
                }
                a {
                    font-size: 16px;
                    letter-spacing: 0.1px;
                    display: block;
                    color: #000;
                }
            }
        }
    }
}