.fixed-header {
    .header__menu {
        position: fixed;
        background: #fff;
        top: 0;
        box-shadow: 0 0 5px -2px #000;
    }
    .header__phone {
        opacity: 1;
    }
}


.header {
    // padding-top: 87px;
    .container {
        position: relative;
    }
    &__kid-bg {
        background: url(../img/kid_bg.png) no-repeat;
        right: 0;
        position: absolute;
        top: 0;
        width: 847px;
        height: 100%;
        background-position: center -60px;
        z-index: 3;
    }
    &__menu {}
    &__phone {
        position: absolute;
        right: -57px;
        top: -4px;
        width: 384px;
        padding: 23px 20px 20px 37px;
        height: 165px;
        background: url(../img/number.png) no-repeat;
        font-size: 16px;
        &_number {
            font-size: 30px;
            font-weight: 800;
            letter-spacing: 0px;
            font-family: ExposureCTwo;
            color: #333333;
        }
        &_text {
            font-size: 12px;
            padding-left: 6px;
            color: #333333;
            letter-spacing: -0.1px;
        }
    }


    .top-block {
        // background: #f0f8f9;
        height: 638px;
        position: relative;
        z-index: 2;
        .container {
            padding: 31px 166px 20px 140px;
        }
        &__title {
            color: #8765d1;
            font-size: 78px;
            letter-spacing: -0.8px;
            line-height: 67px;
            font-family: ExposureCTwo;
            font-weight: 300;
            margin-top: 88px;
            span {
                padding: 0px 7px;
            }
        }
        &__descr {
            width: 50%;
            font-size: 22px;
            margin-top: 35px;
            line-height: 30px;
            padding-left: 2px;
            letter-spacing: 0.2px;
        }
    }

    .particles {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        z-index: 0;
        &__item {
            position: absolute;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            width: 60px;
            height: 60px;
            &:nth-child(1) {
                // background: url(../img/main_paralax/par2.png);
                bottom: 0;
                left: 400px;
            }
            &:nth-child(2) {
                background: url(../img/main_paralax/par8.png);
                left: -465px;
                right: 0;
                bottom: 48px;
                margin: auto;
                width: 105px;
                height: 105px;
            }
            &:nth-child(3) {
                // background: url(../img/main_paralax/par3.png);
                left: 0;
                right: 0;
                bottom: 100px;
                margin: auto;
            }
            &:nth-child(4) {
                background: url(../img/main_paralax/par6.png);
                left: 0;
                right: 177px;
                margin: auto;
                bottom: 144px;
                width: 55px;
                height: 55px;
            }
            &:nth-child(5) {
                background: url(../img/main_paralax/par5.png);
                right: 129px;
                bottom: 230px;
                width: 80px;
                height: 80px;
            }
            &:nth-child(6) {
                background: url(../img/main_paralax/par7.png);
                right: 42px;
                width: 65px;
                bottom: 165px;
                height: 65px;
            }
            &:nth-child(7) {
                right: 0;
                top: 330px;
                left: 86px;
                margin: auto;
                background: url(../img/main_paralax/par4.png);
                width: 70px;
                height: 70px;
            }
        }
    }
}

.header__menu {
    font-size: 0;
    width: 100%;
    height: 87px;
    position: fixed;
    z-index: 999;
    transition: 0.1s;
    top: 0;
    .container {
        display: flex;
        align-items: center; // justify-content: space-between;
        position: relative;
        height: 100%;
    }
    &_dropdown {
        position: relative; // &:after {
        //     position: absolute;
        //     top: 3px;
        //     right: -12px;
        //     content: '';
        //     border: solid #333;
        //     border-width: 0 1px 1px 0;
        //     display: inline-block;
        //     padding: 3px;
        //     transform: rotate(45deg);
        //     -webkit-transform: rotate(45deg);
        //     transition: 0.1s;
        //     left: auto;
        // }
    }
    nav {

        padding-left: 7px;
        ul {
            display: flex;
            li {
                position: relative;
                margin: 6px 10px 10px 10px;


                &:after {
                    height: 4px;
                    width: 100%;
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    transition: 0.2s;
                }
                &:hover {
                    ul {
                        top: 25px;
                        opacity: 1;
                        visibility: visible;
                    }
                    &:not(.header__menu_dropdown):after {
                        background: #000;
                    }
                }

                &.active {
                    &:after {
                        content: '';
                        background: #8765d1!important;
                    }
                }

                a {
                    text-shadow: 1px 1px 14px #FFF, 0 0 2em #fff;
                    font-size: 16px;
                    letter-spacing: 0.1px;
                    display: block;
                    color: #000;
                }

                ul {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    transition: 0.2s;
                    padding: 10px 7px;
                    background: #8765d1;
                    border-radius: 10px;
                    min-width: 106px;
                    display: block;
                    li {
                        margin: 0;
                        &.active {
                            a {
                                text-decoration: underline;
                            }
                        }
                        &:hover:after {
                            content: none;
                        }
                        a {
                            color: #fff;
                            text-shadow: none;
                            font-size: 14px;
                            margin: 0px 0px 2px 0px;
                            letter-spacing: 0.2px;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}