body {
    font-family: Montserrat;
}

.container {
    padding: 0px 20px;
    max-width: 1415px;
    margin: auto;
}

.top-block {
    background: #f0f8f9;
    height: 550px;
    .container {
        padding: 24px 165px 20px 165px;
    }
    &__title {
        color: #8765d1;
        font-size: 54px;
    }
    &__descr {
        width: 50%;
        font-size: 22px;
    }
}

.wizzard {
    background: url(../img/bg-pink1.png);
    height: 660px;
    margin-top: -100px;
	position: relative;
    background-position: center center;
    .container {
    	padding: 24px 165px 20px 165px;
    }
    &__item {
        $c: &;
        display: flex;
        align-items: center;
        &:nth-child(1) {
            position: absolute;
            top: -150px;
        }
        &:nth-child(2) {
        	margin-top: 50px;
			margin-left: 50px;
        }
        &:nth-child(3) {
        	margin-top: 50px;
			margin-left: 125px;
        }
        &.pink {

            #{$c}_text,
            #{$c}_number {
                color: #f7a1b9;
            }
        }
        &_number {
            font-size: 100px;
            color: #fff;
            margin-right: 20px;
        }
        &_text {
            font-size: 18px;
            color: #fff;
            width: 180px;
            margin-right: 50px;
        }
        &_descr {
            font-size: 22px;
            width: 550px;
        }
    }
}