$min-width: 300px;
body {
    font-family: Montserrat;
    background: #f0f8f9;
    min-width: 280px; // overflow-x: hidden;
}

button {
    outline: none;
    cursor: pointer;
}

.container {
    padding: 0px 20px;
    max-width: 1425px;
    margin: auto;
}

.calculate-btn {
    width: 100%;
    max-width: 550px;
    height: 102px;
    background: url(img/calculate_button.png) no-repeat;
    margin: 50px auto 0;
    background-position: center;
    display: block;
    border: none;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.2px;
    &:active {
        transform: translateY(1px);
    }
}

.section-title {
    font-size: 48px;
    letter-spacing: 0.3px;
    line-height: 50px;
    margin: auto;
    text-align: center;
    font-family: ExposureCTwo;
}




.wizzard {
    background: url(img/bg-aqua1.svg);
    height: 739px;
    margin-top: -87px;
    position: relative;
    background-size: cover;
    background-position: center center;
    margin-bottom: 107px;
    z-index: 4;
    .feedback {
        margin: 62px auto 0;
    }
    .container {
        padding: 24px 153px 20px 153px;
    }
    &__item {
        $c: &;
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
            #{$c}_text {
                text-decoration: underline;
            }
        }
        &:nth-child(1) {
            position: absolute;
            top: -155px;
            #{$c}_text {
                width: 180px;
                margin-top: -20px; // border-bottom: 1px solid;
            }
            #{$c}_text,
            #{$c}_number {
                color: #f7a1b9;
            }
            &:after {
                background: url(img/arrow1.png) no-repeat;
                content: '';
                position: absolute;
                width: 108px;
                height: 397px;
                background-size: contain;
                top: 81px;
                left: -27px;
            }
        }
        &:nth-child(2) {
            margin-top: 34px;
            margin-left: 72px;
            #{$c}_text {
                margin-top: 20px;
                margin-left: 12px;
                line-height: 23px;
                margin-right: 3px;
            }
            &:after {
                background: url(img/arrow2.png) no-repeat;
                content: '';
                position: absolute;
                width: 130px;
                height: 169px;
                background-size: contain;
                top: 94px;
                left: -35px;
            }
        }
        &:nth-child(3) {
            margin-top: 31px;
            margin-left: 176px;
            #{$c}_text {
                margin-left: 18px;
                margin-right: 20px;
            }
            #{$c}_descr {
                margin-top: 14px;
                letter-spacing: -0.3px;
            }
        }
        &_number {
            font-size: 120px;
            cursor: pointer;
            color: #fff;
            font-family: ExposureCTwo; // margin-right: 20px;
        }
        &_text {
            font-size: 18px;
            cursor: pointer;
            color: #fff;
            width: 150px;
            line-height: 24px; // margin-right: 50px;
        }
        &_descr {
            font-size: 22px;
            width: 580px;
            line-height: 30px;
            margin-top: 31px;
            font-weight: 500;
        }
    }
}

.feedback {

    width: 915px;
    height: 334px;

    margin: auto;
    display: flex; // align-items: center;
    justify-content: space-between; // overflow: hidden;
    position: relative;
    $c: &;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 35px 35px 35px 35px;
    &.aqua {
        #{$c}__message {
            background: #82f6f5;
        }
    }
    &__star {
        background: url(img/star2.png);
        position: absolute;
        top: -32px;
        right: -32px;
        width: 110px;
        height: 110px;
        &.yellow {
            background: url(img/star1.png);
            top: -37px;
            right: -37px;
        }
    }
    &__image {
        width: 45%;
        overflow: hidden;
        border-radius: 35px 0 0 35px;
        background-size: cover!important; // background-position: top!important;
        background-position: center!important;
        img {
            width: 100%;
        }
    }
    &__message {
        background: #f9c7d5;
        width: 55%;
        border-radius: 0 35px 35px 0;
        padding: 72px 39px 50px 39px;
        &_text {
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            letter-spacing: -0.2px;
            color: #000;
        }
        &_user {
            margin-top: 18px;
            font-size: 14px;
            display: flex;
            align-items: center; // flex-wrap: wrap;
            font-weight: 500;
            color: #000;
            .icon {
                margin-right: 6px;
            }
            &_name {
                color: #000;
                text-decoration: underline;
                margin-right: 5px;
            }
            &_extra {
                color: #000;
                width: 100%;
            }
        }
    }
}


.horizontal-slider {
    width: 100%;
    .section-title {
        width: 70%;
    }
    &__title {
        text-align: center;
        font-size: 40px;
        width: 65%;
        margin: auto;
        color: #1dbfc1;
        font-weight: 600;
    }

    &__container {
        // height: 580px;
        // overflow: hidden;
        // margin-top: 22px;
        // max-height: 400px;
        .scroller {
            // display: flex; // width: 4000px;
            // min-width: 100%;
        } // &.absolute {
        //     position: fixed;
        //     left: 0;
        //     top: 0;
        //     z-index: 999;
        // }
    }

    &__item {
        // min-width: $min-width;
        display: inline-block;
        &_img {
            img {
                width: 100%; // max-width: 600px;
            }
        }
        &_text {
            width: 80%;
            margin: auto;
            line-height: 24px;
            font-weight: 500;
        }
    }
}

.shows {
    height: 1150px;
    margin-top: 0;
    background: url(img/bg-aqua2.svg);
    background-size: cover;
    padding: 150px;
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .feedback {
        margin: 53px auto;
        height: 310px;
        &__message {
            padding: 56px 39px 50px 33px;
            &_user {
                margin-top: 24px;
            }
        }
    }
    .container {
        padding: 17px 153px 20px 153px;
    }
    &__title {
        margin-top: 30px;
        font-size: 20px;
        width: 67%;
        padding: 0px 10px;
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.1px;
        line-height: 30px;
    }
    &__descr {
        margin-top: 30px;
        font-size: 24px;
        width: 29%;
        color: #fff;
        font-family: ExposureCTwo;
        padding: 0px 10px;
        line-height: 27px
    }
    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
        padding-right: 22px;
        &_item {
            $c: &;
            width: 48%;
            &:nth-child(1) {
                #{$c}_img {

                    &:before {
                        content: '';
                        background: url(img/border1.png) no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                    &:after {
                        content: '';
                        background: url(img/books.png) no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 150px;
                        height: 150px;
                        left: -58px;
                        bottom: -6px;
                    }
                }
            }
            &:nth-child(2) {
                #{$c}_img {

                    &:before {
                        content: '';
                        background: url(img/border2.png) no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                    &:after {
                        content: '';
                        background: url(img/hat.png) no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 175px;
                        height: 175px;
                        right: -22px;
                        top: -70px;
                    }
                }
            }
            &_img {
                img {
                    width: 100%;
                }
                position: relative;
            }
            &_text {
                font-size: 13px;
                padding-left: 13px;
                letter-spacing: 0.5px;
            }
        }
    }
}


.master-classes {
    margin-top: 160px;
    .container {
        padding: 0px 164px;
    }
    &__item {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        $c: &;
        &:first-child {
            margin-top: 0;
        }
        &:nth-child(1) {
            &:after {
                content: '';
                background: url(img/tent.png) no-repeat;
                background-size: contain;
                position: absolute;
                width: 238px;
                height: 225px;
                left: -63px;
                bottom: -9px;
            }
            #{$c}_image {
                &:before {
                    content: '';
                    background: url(img/border3.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
                &:after {
                    content: '';
                    background: url(img/compas.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    right: -89px;
                    top: -111px;
                }
            }
        }
        &:nth-child(2) {
            #{$c}_image {
                &:before {
                    content: '';
                    background: url(img/border4.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
                &:after {
                    content: '';
                    background: url(img/crockery.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 250px;
                    height: 250px;
                    right: -69px;
                    bottom: -20px
                }
            }
        }
        &:nth-child(3) {
            #{$c}_image {
                &:before {
                    content: '';
                    background: url(img/border5.png) no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
            }
        }
        &_title {
            font-size: 22px;
            width: 67%;
            padding-right: 20px;
            line-height: 29px;
            font-weight: 500;
            letter-spacing: -0.4px;
        }
        &_link {
            width: 27%;
            font-family: ExposureCTwo;
            color: #8765d1;
            font-size: 24px;
            line-height: 25px;
            a {
                text-decoration: underline;
                color: #8765d1;
            }
        }
        &_descr {
            font-size: 14px;
            width: 58%;
            margin-top: 8px;
            letter-spacing: 0.2px;
        }
        &_image {
            position: relative;
            margin-top: 87px;
            width: 100%; // height: 701px; // background: red;
            margin-top: 45px;
            img {
                width: 100%
            }
        }
    }
}

.birthday-calculator {
    margin-top: 116px;
    position: relative;
    .section-title {}
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 80px;
        position: relative;
    }
    .outer-particles {
        &__item {
            position: absolute;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            width: 60px;
            height: 60px;
            &:nth-child(1) {
                background: url(img/calculator/calc_par1.png);
                left: 37px;
                top: -116px;
                width: 130px;
                height: 130px;
                z-index: -1;
            }
            &:nth-child(2) {
                background: url(img/calculator/calc_par3.png);
                right: 37px;
                top: -173px;
                width: 190px;
                height: 190px;
            }
            &:nth-child(3) {
                background: url(img/calculator/calc_par4.png);
                right: 137px;
                top: 162px;
                width: 75px;
                height: 75px;
                z-index: -1;
            }
            &:nth-child(4) {
                background: url(img/calculator/calc_par6.png);
                right: 0px;
                bottom: 302px;
                width: 150px;
                height: 150px;
            }
            &:nth-child(5) {
                background: url(img/calculator/calc_par8.png);
                right: -16px;
                left: 247px;
                margin: auto;
                bottom: 33px;
                width: 120px;
                height: 120px;
            }
        }
    }

    &__title {
        font-size: 22px;
        width: 67%;
        padding-right: 20px;
        line-height: 29px;
        font-weight: 500;
        letter-spacing: -0.2px;
        margin-top: 39px;
        padding: 0px 61px 0px 53px;
    }
    &__link {
        width: 30%; // color: #8765d1;
        font-size: 18px;
        line-height: 25px;
        margin-top: 39px;
        &_price {
            font-size: 34px;
            font-weight: 500;
            margin-bottom: 10px;
            letter-spacing: 0.7px;
            font-family: ExposureCTwo;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__form {
        background: url(img/calculator/bg-calculator.png) no-repeat;
        width: 770px;
        height: 870px;
        background-size: 100%;
        margin-top: 24px;
        position: relative;
        max-width: 770px;
        .particles {
            &__item {
                position: absolute;
                background-size: contain!important;
                background-repeat: no-repeat!important;
                width: 60px;
                height: 60px;
                &:nth-child(1) {
                    background: url(img/calculator/calc_par5.png);
                    right: 37px;
                    top: 35px;
                    width: 100px;
                    height: 100px;
                }
                &:nth-child(2) {
                    background: url(img/calculator/calc_par7.png);
                    left: 20px;
                    bottom: 182px;
                    width: 95px;
                    height: 100px;
                }
            }
        }
        &_calculated {
            padding: 132px 143px;
            &_message {
                font-size: 32px;
                margin-top: 64px;
                padding-left: 16px;
                width: 91%;
                letter-spacing: -0.7px;
                line-height: 37px;
            }
            &_estimate {
                font-size: 18px;
                margin-top: 1px;
                padding-left: 17px;
                letter-spacing: 0.1px;
            }
            &_total {
                font-size: 110px;
                color: #1ebec4;
                line-height: 120px;
                font-family: ExposureCTwo;
            }
            &_phone-number {
                font-size: 48px;
                font-family: ExposureCTwo;
                margin-top: 169px;
                padding-left: 18px;
            }
            &_phone-text {

                padding-left: 17px;
                margin-top: 5px;
                letter-spacing: -0.2px;
                font-size: 18px;
            }
        }
        form {
            margin: auto;
            padding: 108px 63px 100px 105px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .input,
            .radio {
                width: 80%;
            }
        }
        .calculate-btn {
            background: url(img/calculator/calculate1.png) no-repeat;
            width: 300px;
            height: 67px;
            margin-top: 24px;
            font-size: 24px;
            background-size: contain;
        }
    }
    &__form-info {
        width: 495px; // display: flex;flex-wrap: wrap;
        // justify-content: center;
        img {
            margin: 69px auto 0;
            width: 100%;
            max-width: 460px;
            display: block;
        }
        &_descr {
            margin: 10px auto 0;
            display: block;
            width: 62%;
            font-size: 18px;
            letter-spacing: 0.1px;
            line-height: 24px;
            font-weight: 500;
            padding-left: 15px;
            position: relative;
            &:last-child {
                margin: 148px auto 0;
                &:after {
                    background: url(img/arrow3.png) no-repeat;
                    content: '';
                    position: absolute;
                    width: 360px;
                    height: 100px;
                    background-size: contain;
                    top: -22px;
                    left: -354px;
                }
            }
        }
    }
}

.examples {
    // background: url(img/bg-yellow.png);
    // background-size: cover;
    // background-position: center;
    padding: 93px 0;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: -30px;
        background: url(img/bg-yellow.png);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 934px;
        z-index: -1;
    }
    .container {
        padding: 0 230px;
    }
    &__title {
        margin: 24px auto 47px;
        font-size: 22px;
        text-align: center;
        line-height: 30px;
        font-weight: 500;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 12px;
    }

    &__item {
        width: 31%;
        &_images {

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &_img {
                width: 140px;
                height: 140px;
                border: 2px solid #fff;
                border-radius: 18px;
                margin-bottom: 11px;
            }
        }
        &_text {
            font-size: 18px;
            margin-top: 6px;
        }
        &_price {
            font-size: 36px;
            color: #fff;
            font-family: ExposureCTwo;
        }
    }
}

.holiday-calculator {
    margin-top: 44px;
    .section-title {}

    &__title {
        font-size: 22px;
        padding-right: 20px;
        line-height: 29px;
        font-weight: 500;
        margin-top: 0px;
        width: 70%;
        text-align: center;
        margin: 9px auto 0;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .particles {
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            left: 0;
            z-index: 0;
            &__item {
                position: absolute;
                background-size: contain!important;
                background-repeat: no-repeat!important;
                width: 60px;
                height: 60px;
                &:nth-child(1) {
                    background: url(img/order/order-par3.png);
                    bottom: 0;
                    left: 400px;
                    top: 367px;
                    margin: auto;
                    left: 200px;
                    width: 150px;
                    height: 150px;
                }
                &:nth-child(2) {
                    // background: url(img/order/order-par8.png);
                    // left: -465px;
                    // right: 0;
                    // bottom: 48px;
                    // margin: auto;
                    // width: 105px;
                    // height: 105px;
                }
                &:nth-child(3) {
                    background: url(img/order/order-par6.png);
                    left: 41px;
                    margin: auto;
                    bottom: 189px;
                    width: 140px;
                    height: 140px;
                    z-index: -20;
                }
                &:nth-child(4) {
                    background: url(img/order/order-par5.png);
                    left: 84px;
                    margin: auto;
                    top: -27px;
                    width: 180px;
                    height: 180px;
                    z-index: -20;
                }
                &:nth-child(5) {
                    background: url(img/order/order-par1.png);
                    right: 176px;
                    top: 14px;
                    width: 100px;
                    height: 100px;
                }
                &:nth-child(6) {
                    background: url(img/order/order-par4.png);
                    left: 102px;
                    width: 57px;
                    top: 213px;
                    height: 65px;
                }
                &:nth-child(7) {
                    right: 76px;
                    top: 296px;
                    /* left: 86px; */
                    /* margin: auto; */
                    background: url(img/order/order-par2.png);
                    width: 70px;
                    height: 70px;
                }
                &:nth-child(8) {
                    right: 147px;
                    bottom: 103px;
                    background: url(img/order/order-par7.png);
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
    &__form {
        background: url(img/order/order-bg.png) no-repeat;
        width: 1005px;
        height: 743px;
        margin: auto;
        background-size: 100%;
        padding-top: 64px;
        position: relative;
        form {
            margin: auto;
            padding: 31px 100px 20px 109px;
            width: 80%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .input {
                width: 48%;
                flex-wrap: wrap;
                margin-bottom: 54px;
                &:nth-child(even) {
                    width: 45%;
                }
                input {
                    width: 100%;
                }
                label {
                    padding-left: 8px;
                    font-weight: 500;
                    width: 100%;
                    font-size: 14px;
                }
                &-descr {
                    font-size: 14px;
                    width: 44%;
                    letter-spacing: -0.1px;
                    padding-top: 12px;
                    font-weight: 400;
                }
            }
        }
        &_bottom-text {
            font-size: 14px;

            text-align: center;
            margin: 13px auto;
            width: 90%;
            letter-spacing: 0px;
        }
        .calculate-btn {
            background: url(img/order/calculate2.png) no-repeat;
            width: 300px;
            height: 67px;
            margin-top: 9px;
            font-size: 24px;
        }
    }
}


.game-rooms {
    margin-top: 7px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 109px 0px 120px;
    }
    &__title {
        font-size: 22px;
        width: 68%;
        padding-right: 20px;
        line-height: 29px;
        font-weight: 500;
        letter-spacing: -0.2px;
        margin-top: 34px;
        padding: 0px 0 0px 53px;
    }
    &__link {
        width: 29%;
        font-size: 24px;
        line-height: 26px;
        margin-top: 34px;
        font-family: ExposureCTwo;
        a {
            text-decoration: underline;
            color: #8765d1;
        }
    }
    .horizontal-slider {
        padding: 0px 14px 0px 167px;
        &__container {
            margin-top: 44px;
            max-width: 100%;
        }
        &__item {
            // $c: &;
            position: relative;
            margin-right: 20px; // width: 540px;
            // min-width: 540px;
            max-width: 100%;
            &_text {
                margin: 12px 10px 0 3px;
                font-size: 18px;
                width: 100%;
            }


            &:nth-child(3n + 1) {
                .horizontal-slider__item_img {
                    &:after {
                        @extend .item-border;
                        background: url(img/horizontal_slider2/slider_blue_border.png) no-repeat;
                    }
                }
            }
            &:nth-child(3n + 2) {
                .horizontal-slider__item_img {
                    &:after {
                        @extend .item-border;
                        background: url(img/horizontal_slider2/slider-pink-border.png) no-repeat;
                    }
                }
            }
            &:nth-child(3n +3) {
                .horizontal-slider__item_img {
                    &:after {
                        @extend .item-border;
                        background: url(img/horizontal_slider2/slider-violet-border.png) no-repeat;
                    }
                }
            }
        }
    }
}


.organization {
    margin-top: 72px;
    background: url(img/bg-white2.png);
    background-size: 150%;
    .container {
        padding: 90px 170px 35px 170px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    &__col {
        width: 48%;
        font-size: 22px;
        margin-top: 33px;
        line-height: 30px;
        letter-spacing: 0.3px;
    }
    &__tags {
        margin-top: 54px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &_item {
            border: 1px solid #1ebec4;
            padding: 8px 10px;
            border-radius: 30px;
            font-size: 18px;
            cursor: pointer;
            letter-spacing: 0px;
            font-weight: 500;
            margin: 0 5px;
            &.active {
                border-color: #8765d1;
                box-shadow: 0 3px 20px -4px #8765d1;
                color: #8765d1;
            }
        }
    }
}






.google-map {
    width: 100%;
    height: 805px; // margin-top: 30px;
}




.addresses {
    padding-top: 20px;
    padding-bottom: 150px;
    background: #fff;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px 119px 0px 167px;
    }
    &__title {
        font-weight: 800;
        width: 100%;
        margin-top: 15px;
        font-size: 18px;
        line-height: 32px;
    }
    &__address {
        margin-top: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        a {
            color: #000;
            &:hover {
                text-decoration: underline;
            }
        }
        &_metro {
            font-weight: 500;
            font-size: 18px;
            margin-top: 10px;
            &.violet {
                color: #a3228d;
            }
            &.yellow {
                color: #ffca30;
            }
            &.d-green {
                color: #02a54f;
            }
            &.l-green {
                color: #7ec141;
            }
            &.green {
                color: #4fb050;
            }
            &.grey {
                color: #898b8e;
            }
            &.red {
                color: #ed1a22;
            }
            &.orange {
                color: #f58120;
            }
            &.brown {
                color: #8a3f32;
            }
            &.blue {
                color: #0d65ae;
            }
        }
    }
    .addresses__col {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        &:last-child {
            width: 52%;
        }
        &_item {
            width: 52%;
            &.metro {
                width: 48%;
            }
        }
    }
}

.cooking {


    &__title {
        font-weight: 400;
        width: 70%;
        margin-top: 0px;
        font-size: 22px;
        color: #fff;
        line-height: 30px;
        position: relative;
        z-index: 1;
        >div {
            margin-top: 20px;
        }
    }
    &__link {
        font-weight: 400;
        width: 26%;
        margin-top: -4px;
        font-size: 18px;
        color: #fff;
        line-height: 24px;
        &_text {
            margin-top: 85px;
            font-weight: 600;
            font-size: 22px;
            font-family: ExposureCTwo;
            letter-spacing: 0.9px;
            a {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
    &__top {
        padding: 0 0 0 0; // background: url(img/bg-purple.svg), #fff;
        background-size: cover;
        background-position: -20px 0;
        background-repeat-y: no-repeat;
        position: relative;
        z-index: 1;
        height: 1400px;
        pointer-events: none; // &:before {
        //     content: '';
        //     position: absolute;
        //     bottom: 200px;
        //     background: #f0f8f9;
        //     width: 100%;
        //     height: 200px;
        //     z-index: 0;
        // }
        .cake-boy {
            position: absolute;
            bottom: 0;
            background: url(img/cake_boy.png);
            width: 700px;
            height: 1000px;
            left: 50px;
            background-size: cover;
            &__text {
                position: absolute;
                bottom: -35px;
                font-size: 14px;
                text-align: center;
                width: 80%;
                transform: rotate(-2deg);
            }
        }
        .particles {
            position: absolute;
            width: 100%;
            top: 0;
            height: 100%;
            left: 0;
            z-index: 10;
            &__item {
                position: absolute;
                background-size: contain!important;
                background-repeat: no-repeat!important;
                width: 60px;
                height: 60px;
                &:nth-child(1) {
                    background: url(img/make_cake/make_cake_par1.png);
                    bottom: 0;
                    left: 400px;
                    top: -100px;
                    /* margin: auto; */
                    left: 165px;
                    width: 130px;
                    height: 130px;
                    z-index: -1;
                }
                &:nth-child(2) {
                    background: url(img/make_cake/make_cake_par2.png);
                    bottom: 0;
                    /* left: 400px; */
                    top: -105px;
                    /* margin: auto; */
                    right: 80px;
                    width: 100px;
                    height: 100px;
                }
                &:nth-child(3) {
                    background: url(img/make_cake/make_cake_par3.png);
                    bottom: 0;
                    /* left: 400px; */
                    top: 248px;
                    /* margin: auto; */
                    right: 0px;
                    width: 200px;
                    height: 200px;
                }
                &:nth-child(4) {
                    background: url(img/make_cake/make_cake_par4.png);
                    bottom: 0;
                    left: 400px;
                    bottom: 231px;
                    margin: auto;
                    left: 33px;
                    width: 100px;
                    height: 100px;
                }
                &:nth-child(5) {
                    background: url(img/make_cake/make_cake_par5.png);
                    bottom: 236px;
                    right: 36px;
                    width: 100px;
                    height: 100px;
                }
            }
        }
        &:after {
            content: '';
            position: absolute;

            bottom: 320px;
            background: url(img/bg-purple.png);
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%; //1400px;
            z-index: -1;
        }
        .container {
            padding: 90px 205px 35px 170px;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            position: relative;
        }
        .cooking__link {
            width: 24%;
        }
        &_images {
            position: relative;
            width: 600px;
            margin-top: 18px;
            margin-left: 10px;
            &_container {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                position: relative;
                z-index: 1;
            }
            &_item {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                position: relative;
                $c: &;
                &:nth-child(1) {
                    // padding-right: 200px;
                }
                &:nth-child(2) {
                    margin-right: 256px;
                    margin-top: -28px;
                    #{$c}_text {
                        bottom: -32px;
                        right: 135px;
                    }
                }
                &:nth-child(3) {
                    margin-right: -42px;
                    margin-top: -41px;
                    #{$c}_text {
                        right: 42px;
                        color: #000;
                        bottom: -14px;
                    }
                }
                img {}
                &_text {
                    position: absolute;
                    bottom: -6px;
                    width: 100%;
                    color: #fff;
                    display: block;
                    text-align: right;
                    font-size: 18px;
                }
            }
        }
    }
    &__bottom {
        background: #f0f8f9; // padding-top: 200px;
        margin-top: -200px;
        .container {
            padding: 0px 130px 35px 130px;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
        }
        .section-title {
            margin-top: 91px;
            margin-bottom: 26px;
        }
        .cooking__title {
            padding: 0px 15px 0 37px;
            b {
                font-size: 24px;
                text-decoration: underline;
                font-family: ExposureCTwo;
            }
            width: 71%;
        }
        .game-rooms__link {
            width: 28%;
            margin-top: 2px;
        }
        .cooking__link {
            color: #000;
            margin-top: 4px;
            width: 28%;
            b {
                font-family: ExposureCTwo;
                font-size: 24px;
                color: #1ebec4;
                margin-bottom: 10px;
                display: block;
            }
        }
    }
    &__food {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
        margin-top: 37px;
        width: 100%;
        padding: 0px 10px;
        &_item {
            max-height: 400px;
            max-width: 400px; // width: calc(100% / 3 - 20px);
            &:nth-child(1) .cooking__food_item_img {
                &:after {
                    background-position: center center!important;
                    @extend .item-border;
                    background: url(img/food/kid_food/kid_pointer1.png) no-repeat;
                }
            }
            &:nth-child(2) .cooking__food_item_img {
                &:after {
                    background-position: center center!important;
                    @extend .item-border;
                    background: url(img/food/kid_food/kid_pointer2.png) no-repeat;
                }
            }
            &:nth-child(3) .cooking__food_item_img {
                &:after {
                    background-position: center center!important;
                    @extend .item-border;
                    background: url(img/food/kid_food/kid_pointer3.png) no-repeat;
                }
            }

            &_img {
                position: relative; // padding: 10px;
                // height: 100%;
                height: 370px;
                width: 370px; //     width: 100%;
                // }
                >div {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto; // width: calc(100% - 30px);
                    // height: calc(100% - 30px);
                    border-radius: 100%;
                    background-position: center!important;
                    background-repeat: no-repeat!important; // img {
                }
            }
            &_text {
                margin-top: 15px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}


.cooking-adult {
    .feedback {
        margin-top: -281px;
        height: 326px;
        &__image {
            width: 52%;
        }
        &__message {
            padding: 52px 39px 50px 43px;
            width: 48%;
        }
    }
    .container {
        padding: 0 130px;
    }
    .cooking__title {
        b {
            font-size: 24px;
            text-decoration: underline;
            font-family: ExposureCTwo;
        }
    }

    .cooking__food_item {
        &:nth-child(1) .cooking__food_item_img {
            &:after {
                background: url(img/food/banquet/banq_pointer1.png) no-repeat;
            }
        }
        &:nth-child(2) .cooking__food_item_img {
            &:after {
                background: url(img/food/banquet/banq_pointer2.png) no-repeat;
            }
        }
        &:nth-child(3) .cooking__food_item_img {
            &:after {
                background: url(img/food/banquet/banq_pointer3.png) no-repeat;
            }
        }
    }

    &__top {
        height: 1120px;
        background: url(img/bg-aqua2.svg);
        background-size: cover;
        background-position: center;
        background-repeat-y: no-repeat;
        position: relative;
        padding: 200px 0 0px 0;
        margin-top: 88px;
        .cooking__food {
            &_item {
                &:nth-child(1) .cooking__food_item_img {
                    &:after {
                        @extend .item-border;
                        background: url(img/food/round_pointer1.png) no-repeat;
                    }
                }
                &:nth-child(2) .cooking__food_item_img {
                    &:after {
                        @extend .item-border;
                        background: url(img/food/round_pointer2.png) no-repeat;
                    }
                }
                &:nth-child(3) .cooking__food_item_img {
                    &:after {
                        @extend .item-border;
                        background: url(img/food/round_pointer3.png) no-repeat;
                    }
                }
            }
        }
        .cooking__title {
            margin-top: 74px;
            padding-left: 40px;
        }
    }
    &__bottom {
        .container {
            padding: 0 130px;
        }
        .cooking__title {
            // margin-top: 33px;
            padding-left: 40px;
        }
    }
}

.mood {
    margin-top: 93px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0px 170px;
    }

    &__title {
        font-size: 22px;
        width: 72%;
        padding-right: 20px;
        line-height: 31px;
        font-weight: 500;
        letter-spacing: -0.2px;
        margin-top: 39px;
    }
    &__link {
        width: 28%;
        font-size: 18px;
        line-height: 25px;
        margin-top: 39px;
        b {
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 10px;
            letter-spacing: 0.7px;
            display: block;
            color: #1ebec4;
            font-family: ExposureCTwo;
        }
    }
    &__img {
        margin-top: 50px;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            @extend .item-border;
            background: url(img/mood/mood_border.png) no-repeat;
            background-size: cover;
        }
        &_text {
            margin: 6px 0px 0px 0px;
            font-size: 14px;
            letter-spacing: 0.1px;
        }
        img {
            width: 100%;
        }
    }
}


.gifts {
    margin-top: 64px;
    height: 1395px;
    background: url(img/bg-pink1.svg);
    background-size: cover;
    background-position: -20px 240px;
    background-repeat-y: no-repeat;
    position: relative;
    &:after {
        content: '';
        bottom: -35px;
        width: 100%;
        position: absolute;
        height: 233px;
        background: url(img/finish-line.svg) no-repeat;
        background-size: cover;
    }
    .feedback {
        // margin: -500px auto 0;
        color: #f9c7d5;
        height: 488px;
        &__image {
            width: 54%;
        }
        &__star {
            top: -46px;
        }
        &__message {
            width: 46%;
            padding: 75px 39px 50px 50px;
            &_user {
                margin-top: 50px;
            }
        }
    }
    .container {
        // overflow: hidden;
        padding: 0px 170px;
        position: relative;
        height: 100%;
        &__flex {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }


    &__title {
        font-size: 22px;
        width: 72%;
        padding-right: 20px;
        line-height: 31px;
        font-weight: 500;
        letter-spacing: 0px;
        margin-top: 72px;
        position: relative;
        z-index: 2;
    }
    &__link {
        width: 27%;
        font-size: 24px;
        line-height: 25px;
        margin-top: 77px;
        font-family: ExposureCTwo;
        color: #fff;
        position: relative;
        z-index: 2;
    }
    &__bottom-text {
        width: 254px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 365px;
        line-height: 18px;
        font-size: 14px;
        letter-spacing: 0.4px;
        position: relative;
        z-index: 1;
    }
    &__bg {
        // position: absolute;
        &_girl {
            width: 800px;
            height: 715px;
            position: absolute;
            bottom: 0;
            left: -70px;
            background: url(img/girl-bg.png) no-repeat;
        }
        &_boy {
            width: 700px;
            height: 715px;
            position: absolute;
            bottom: 0;
            right: 100px;
            background: url(img/boy-bg.png) no-repeat;
        }
    }
}


.faq {
    margin-top: 0;
    .container {
        padding: 0px 166px;
        position: relative;
    }
    &__item {
        margin-top: 34px;
        &_title {
            font-size: 22px;
            font-weight: bold;
        }
        &_text {
            width: 78%;
            font-size: 22px;
            letter-spacing: 0.2px;
            line-height: 30px;
        }
    }

    .particles {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100%;
        left: 0;
        z-index: -1;
        &__item {
            position: absolute;
            background-size: contain!important;
            background-repeat: no-repeat!important;
            width: 60px;
            height: 60px;
            &:nth-child(1) {
                background: url(img/question_footer/question_par1.png);
                bottom: 0;
                top: 367px;
                width: 150px;
                height: 150px;
                right: 200px;
                top: 100px;
            }
            &:nth-child(2) {
                background: url(img/question_footer/question_par2.png);
                left: 41px;
                margin: auto;
                bottom: 225px;
                width: 140px;
                height: 140px;
                z-index: -20;
            }
            &:nth-child(3) {
                background: url(img/question_footer/question_par3.png);
                right: 50px;
                bottom: 100px;
                top: 0;
                width: 120px;
                height: 120px;
                margin: auto;
            }
            &:nth-child(4) {
                background: url(img/question_footer/question_par4.png);
                right: 250px;
                bottom: 100px;
                width: 80px;
                height: 80px;
            }
            &:nth-child(5) {
                background: url(img/question_footer/question_par5.png);
                left: 102px;
                width: 120px;
                bottom: -200px;
                height: 120px;
                margin: auto;
                right: 0;
                left: 0;
            }
        }
    }
}


.aqua {
    color: #1ebec4;
}

.white {
    color: #fff;
}

.violet {
    color: #8765d1;
}

.black {
    color: #000;
}

.item-border {
    content: '';
    background-size: contain!important;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}